<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="base_url" value="https://perculus-v3.almscloud.com"/>
    <add key="api_url" value="/xapi"/>
    <add key="auth_url" value="/auth/connect/token"/>
    <add key="app_join_url_format" value="/app?c={0}"/>

    <add key="account_id" value=""/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="sdk_log_file_path" value="perculus-xsdk.log"/>
  </appSettings>
</configuration>